#debug-contents{
    margin:0px;
    padding:10px;
}
.pesticide-container{
    font-size:12px;
}
.pesticide-container ul{
    list-style-type: none;
    padding:10px 0px 0px 20px;
}
.pesticide-dump>li{
    cursor:pointer;
    margin-bottom: 3px;
}
.pesticide-hidden{
    display: none;
}
.pesticide-varname{
    font-style: italic;
}
#debug-contents{
    font-family: arial;
    margin:15px;
}